<div class="modal fade" id="modal{{user_id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title">Mitglied bearbeiten</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#modal{{user_id}}" aria-label="Schließen"></button>
            </div>
            <div class="modal-body text-center d-flex flex-column align-items-center" id="body-{{user_id}}"></div>
                
            <div class="modal-footer d-flex justify-content-end">
                <form class="d-flex" style="margin-right: 30px" action="/profile/editMember/{{user_id}}" method="post">
                    <select class="form-select" style="margin-right: 10px;" id="status" name="status">
                        <option value="1">Mitglied</option>
                        <option value="0">Prüfung</option>
                        <option value="2">Abgelehnt</option>
                    </select>
                    <button type="submit" class="btn btn-psc-yellow">Speichern</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#modal{{user_id}}">Schließen</button>
            </div>
        </div>
    </div>
</div>