{{> menu }}
<body>
    <h1>Profile</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                 <div class="panel d-flex flex-column align-items-center bg-psc-yellow" style="border-radius: 10px; padding: 20px">
                    <div class="circle-centered" style="background-image: url({{userProfile.src_img}}); border: 2px solid var(--psc-blue)"></div>
                    <h2>{{userProfile.firstName}} {{userProfile.lastName}}</h2>
                </div>
                <div class="d-flex flex-column">
                    <ul class="nav nav-pills flex-column text-center bg-light" style="display: block; border: 1px solid lightgray; width: 100%; padding: 5px; border-radius: 10px;">
                        <li class="active"><a style="color: black; text-decoration: none;" href="/profile"><i class="bi bi-person"></i> Profile</a></li>
                        <li style="border-top: 1px solid lightgray;"><a style="color: black; text-decoration: none;" href="/profile/edit"><i class="bi bi-pencil-square"></i> Profil bearbeiten</a></li>
                        {{#if userPositions}}
                        <li style="border-top: 1px solid lightgray;"><a style="color: black; text-decoration: none;" href="https://www.dropbox.com/scl/fo/oht6jscz0berkveegk29m/AJ3Il1fE2oaJrixonfP9JIU?rlkey=55kwrubiqzjvlgz3oyrhb0jqx&st=6m3em9bh&dl=0" target="_blank"><i class="bi bi-cloud"></i> Cloudbereich</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel"> 
                <div class="bg-psc-yellow text-center" style="border-radius: 10px; padding: 20px;">
                    <h2>Deine Mitgliedschaft</h2>
                </div>
                <div class="panel-body text-center bg-light" style="border-radius: 10px; padding: 20px;">
                    <div class="row d-flex">
                        <div class="col-md-6">
                            <table style="width: 100%; table-layout: fixed;">
                                <tr>
                                    <td style="width: 120px; vertical-align: top;"><strong>Vorname:</strong></td>
                                    <td>{{userProfile.firstName}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Geburtstag:</strong></td>
                                    <td>{{userProfile.birthday}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Postleitzahl:</strong></td>
                                    <td>{{userProfile.postcode}}</td>
                                </tr>
                                <tr>
                                    <td><strong>E-Mail:</strong></td>
                                    <td>{{userProfile.mail}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table style="width: 100%; table-layout: fixed;">
                                <tr>
                                    <td style="width: 120px;"><strong>Nachname:</strong></td>
                                    <td>{{userProfile.lastName}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Adresse:</strong></td>
                                    <td>{{userProfile.address}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Ort:</strong></td>
                                    <td>{{userProfile.city}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Telefon:</strong></td>
                                    <td>{{userProfile.phone}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Handy:</strong></td>
                                    <td>{{userProfile.handy}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="margin: 30px;">
                        <table>
                            <thead>
                                <tr>
                                    <th style="padding: 10px; text-align: center;"><h5>Mitgliedsstatus</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">{{{applyStatus}}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{#if userPositions}}
                    <div class="d-flex justify-content-center align-items-center" style="margin: 30px;">
                        <table>
                            <thead>
                                <tr>
                                    <th style="padding: 10px; text-align: center;"><h5>Deine Positionen</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if isAdmin}}
                                <tr>
                                    <td>
                                        <p><span class="red-dot"></span> Admin der Webseite</p>
                                    </td>
                                </tr>
                                {{/if}}
                                {{#each userPositions}}
                                <tr>
                                    <td style="text-align: center;"><strong>{{position_group}}</strong> - {{position}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{#if isAdmin}}
            <div class="panel" style="margin-top: 20px;"> 
                <div class="bg-psc-yellow text-center" style="border-radius: 10px; padding: 20px;">
                    <h2>Mitgliederverwaltung</h2>
                </div>
                <div class="panel-body text-center bg-light" style="border-radius: 10px; padding: 20px;">
                    <div class="row d-flex">
                        <div class="col-md-6">
                            <h5 style="text-decoration: underline;">Neue Anträge</h5>
                            <div class="table-responsive" style="max-height: 300px;">
                                <table style="width: 100%; table-layout: fixed;">
                                    <thead>
                                        <tr>
                                            <th style="padding: 10px; text-align: center;">Vorname</th>
                                            <th style="padding: 10px; text-align: center;">Nachname</th>
                                            <th style="padding: 10px; text-align: center;">Aktion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each applys}}
                                        <tr>
                                            <td style="text-align: center;">{{firstname}}</td>
                                            <td style="text-align: center;">{{lastname}}</td>
                                            <td style="text-align: center;"><a class="btn btn-psc-blue" onclick="openMemberDetails('{{user_id}}')" data-bs-toggle="modal" data-bs-target="#modal{{user_id}}">Bearbeiten</a></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{#each applys}}
                        {{> pop_up_edit_member modalId=id}}
                        {{/each}}
                        <div class="col-md-6">
                            <h5 style="text-decoration: underline;">Mitglieder</h5>
                            <div class="table-responsive" style="max-height: 300px;">
                                <table style="width: 100%; table-layout: fixed;">
                                    <thead>
                                        <tr>
                                            <th style="padding: 10px; text-align: center;">Vorname</th>
                                            <th style="padding: 10px; text-align: center;">Nachname</th>
                                            <th style="padding: 10px; text-align: center;">Aktion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each allMembers}}
                                        <tr>
                                            <td style="text-align: center;">{{firstname}}</td>
                                            <td style="text-align: center;">{{lastname}}</td>
                                            <td style="text-align: center;"><a class="btn btn-psc-blue" onclick="openMemberDetails('{{user_id}}')" data-bs-toggle="modal" data-bs-target="#modal{{user_id}}">Bearbeiten</a></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                             </div>
                        </div>
                        {{#each allMembers}}
                        {{> pop_up_edit_member modalId=id}}
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/if}}
            {{#if isAdmin}}
            <div class="panel" style="margin-top: 20px;"> 
                <div class="bg-psc-yellow text-center" style="border-radius: 10px; padding: 20px;">
                    <h2>Newsverwaltung</h2>
                </div>
                <div class="panel-body text-center bg-light" style="border-radius: 10px; padding: 20px;">
                    <div class="row d-flex">
                        <div class="table-responsive" style="max-height: 300px;">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Beschreibung</th>
                                        <th>Bild</th>
                                        <th>Aktion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each news}}
                                    <tr>
                                        <td style="text-align: center;">{{title}}</td>
                                        <td style="text-align: center;">{{description}}</td>
                                        <td><img src="{{src_img}}" alt="Bild" style="width: 60px; height: 60px;"></td>
                                        <td style="text-align: center;">
                                            <a class="btn btn-psc-blue" onclick="openEditor('{{id}}', '{{content}}')" data-bs-toggle="modal" data-bs-target="#add{{id}}"><i class="bi bi-pencil-square"></i></a>
                                            <a class="btn btn-psc-blue" href="/news/deleteNews/{{id}}"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    {{> pop_up_add_edit_article modalId="add{{id}}"id=id title=title description=description src_img=src_img content=content}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                        <p style="weight: 100%; margin-top: 30px;">
                            <a type="button" class="btn btn-psc-blue" onclick="openEditor()" data-bs-toggle="modal" data-bs-target="#add">Artikel hinzufügen &raquo;</a>
                        </p>
                        {{> pop_up_add_edit_article modalId="add"}}
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</body>
{{#if isAdmin}}
<script>
  let currentEditor = null;
  function openEditor(id = null, content = null) {
    let data = null;
    if (content != null && content != "") {
      data = JSON.parse(content);
    }

    if (currentEditor) {
      currentEditor.destroy();
      currentEditor = null;
    }

    const editor = new EditorJS({
      holder: 'editorjs' + (id ? '-' + id : '-'),
      placeholder: 'Hier kannst du deinen Artikel verfassen...',

      data: data,
      
      tools: {
        anyTuneName: {
            class: AlignmentBlockTune,
            config:{
                default: "right",
                blocks: {
                header: 'center',
                paragraph: 'left',
                list: 'right'
                }
            },
        },
        underline: Underline,
        color: {
          class: window.ColorPicker.default,
        },
        paragraph: {
          class: Paragraph,
          inlineToolbar: true,
          tunes: ['anyTuneName'],
          config: {
            placeholder: 'Text eingeben...',
          }
        },
        header: {
          class: Header,
          inlineToolbar: true,
          tunes: ['anyTuneName'],
          config: {
            placeholder: 'Überschrift eingeben...',
            levels: [2, 3, 4],
            defaultLevel: 2,
          }
        },
        checklist: {
          class: Checklist,
          inlineToolbar: true,
          config: {
            placeholder: 'Aufgabe eingeben...'
          }
        },
        list: {
          class: List,
          inlineToolbar: true,
          config: {
            placeholder: 'Listelement eingeben...',
            defaultStyle: 'unordered'
          }
        },
        embed: {
            class: Embed,
            inlineToolbar: true,
            toolbox: {
                title: 'Video / Embed',
                icon: '<svg width="17" height="15" viewBox="0 0 20 20"><path d="M17 4H3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-9 8V8l5 2-5 2z"/></svg>'
            },
            config: {
                services: {
                    embedUrl: 'https://www.youtube-nocookie.com/embed/<%= remote_id %>',
                    youtube: true,
                }
            }
        },
      },
    });
    currentEditor = editor;
  }

  function destroyEditor() {
    if (currentEditor) {
      currentEditor.destroy();
      currentEditor = null;
    }
  }

  function save(id = null, src_img = null) {
    currentEditor.save().then(async (outputData) => {
      const formData = new FormData();
      formData.append('title', document.getElementById('title-' + id).value);
      formData.append('description', document.getElementById('description-' + id).value);
      formData.append('content', JSON.stringify(outputData));
    
      const fileInput = document.getElementById('src_img-' + id).files[0];
      if (fileInput) {
        formData.append('src_img', document.getElementById('src_img-' + id).files[0]);
      }
      formData.append('existing_src_img', src_img);

      let url = '/news/addNews';

      if (id != null && id !== "") {
        url = '/news/editNews/' + id;
      }

      try {
        const response = await fetch(url, {
          method: 'POST',
          body: formData
        });
      } catch (e) {
          console.log('Saving failed: ', e);
      }
      destroyEditor();

      window.location.assign('/profile');s
    });
  }
  
  async function openMemberDetails(user_id) {
    const memberModal = document.getElementById('modal' + user_id);
    const positionTableContainer = document.getElementById('positionTable' + user_id);

    try {
        const response = await fetch(`/profile/memberDetails/${user_id}`);
        const data = await response.json();

        // [] => Is needed because its not an HTML Tag instead it is an attribute
        memberModal.querySelectorAll('[dataField]').forEach(element => {
            const field = element.getAttribute('dataField');
            element.textContent = data.userDetails[field];
        });

        if (data.userPositions) {
            let positionTableContent =``;
            data.userPositions.forEach(position => {
                positionTableContent = positionTableContent + `
                                <tr>    
                                    <td style="text-align: center;">
                                        <form action="/profile/deletePosition/${position.id}" method="POST">
                                            <p id="position">${position.position} - <strong>${position.position_group}</strong>
                                            <input type="hidden" name="position" id="position" value="${position.position}">
                                            <input type="hidden" name="positionGroup" id="positionGroup" value="${position.position_group}">
                                            <button type="submit" class="btn btn-psc-blue"><i class="bi bi-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>\n`;
            });

            positionTableContainer.innerHTML = positionTableContent;
        }
        
    } catch (e) {
        console.log(e);
        contentContainer.innerHTML = '<div class="alert alert-danger">Fehler beim Laden der Mitgliedsdaten</div>';
    }
  }
</script>
{{/if}}