{{> menu }}
<body>
    <h1>Profile</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                 <div class="panel d-flex flex-column align-items-center bg-psc-yellow" style="border-radius: 10px; padding: 20px">
                    <div class="circle-centered" style="background-image: url({{userProfile.src_img}}); border: 2px solid var(--psc-blue)"></div>
                    <h2>{{userProfile.firstName}} {{userProfile.lastName}}</h2>
                </div>
                <div class="d-flex flex-column">
                    <ul class="nav nav-pills flex-column text-center bg-light" style="display: block; border: 1px solid lightgray; width: 100%; padding: 5px; border-radius: 10px;">
                        <li class="active"><a style="color: black; text-decoration: none;" href="/profile"><i class="bi bi-person"></i> Profile</a></li>
                        <li style="border-top: 1px solid lightgray;"><a style="color: black; text-decoration: none;" href="/profile/edit"><i class="bi bi-pencil-square"></i> Profil bearbeiten</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel"> 
                <div class="bg-psc-yellow text-center" style="border-radius: 10px; padding: 20px;">
                    <h2>Deine Mitgliedschaft</h2>
                </div>
                <div class="panel-body text-center bg-light" style="border-radius: 10px; padding: 20px;">
                    <h5 style="margin-top: 20px; margin-bottom: 40px;">Persönliche Informationen</h5>
                    <form action="/profile/edit/{{userProfile.id}}" method="POST" >
                        <div class="row d-flex">
                            <div class="col-md-6">
                                <table style="width: 100%; table-layout: fixed;">
                                    <tr>
                                        <td style="width: 120px; vertical-align: top;"><strong>Vorname:</strong></td>
                                        <td><input type="text" id="firstName" name="firstName" value="{{userProfile.firstName}}" required></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Geburtstag:</strong></td>
                                        <td><input type="text" id="birthday" name="birthday" value="{{userProfile.birthday}}" required></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Postleitzahl:</strong></td>
                                        <td><input type="text" id="postcode" name="postcode" value="{{userProfile.postcode}}" required></td>
                                    </tr>
                                    <tr>
                                        <td><strong>E-Mail:</strong></td>
                                        <td><input type="email" id="mail" name="mail" value="{{userProfile.mail}}" required></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table style="width: 100%; table-layout: fixed;">
                                    <tr>
                                        <td style="width: 120px;"><strong>Nachname:</strong></td>
                                        <td><input type="text" id="lastName" name="lastName" value="{{userProfile.lastName}}" required></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Adresse:</strong></td>
                                        <td><input type="text" id="address" name="address" value="{{userProfile.address}}" required></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Ort:</strong></td>
                                        <td><input type="text" id="city" name="city" value="{{userProfile.city}}" required></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Telefon:</strong></td>
                                        <td><input type="tel" id="phone" name="phone" pattern="[0-9\s+\-/]+" value="{{userProfile.phone}}" required></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Handy:</strong></td>
                                        <td><input type="tel" id="handy" name="handy" pattern="[0-9\s+\-/]+" value="{{userProfile.handy}}" required></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-psc-blue" style="margin-top: 20px;">Änderungen speichern</button>
                    </form>
                    <h5 style="margin-top: 40px; margin-bottom: 40px;">Passwort ändern</h5>
                    <form id="passwordForm" data-user-id={{userProfile.id}}>
                        <div class="col" style="margin: 20px; margin-top:40px;">
                            <input type="password" id="currentPassword" name="currentPassword" placeholder="Aktuelles Passwort" required>
                        </div>
                        <div class="col" style="margin: 20px;">
                            <input type="password" id="newPassword" name="newPassword" placeholder="Neues Passwort" required>
                        </div>
                        <div class="col" style="margin: 20px;">
                            <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Neues Passwort bestätigen" required>
                        </div>
                        <button type="submit" class="btn btn-psc-blue">Passwort ändern</button>
                        <div id="passwordError" role="alert" style="margin: 20px;"></div>
                    </form>
                    <h5 style="margin-top: 40px; margin-bottom: 40px;">Profilbild ändern</h5>
                    <div class="d-flex justify-content-center align-items-center; flex-direction: row" style="margin: 30px;">
                        <div class="circle-centered" style="background-image: url({{userProfile.src_img}}); border: 2px solid var(--psc-blue)"></div>
                        <form action="/profile/uploadProfilePicture/{{userProfile.id}}" method="POST" enctype="multipart/form-data">
                            <div class="col">
                                <input type="file" id="profilePicture" name="profilePicture" accept="image/*">
                            </div>
                            <button type="submit" class="btn btn-psc-blue" style="margin: 20px;">Profilbild ändern</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
  const contentContainerPassword = document.getElementById('passwordError');

  document.getElementById('passwordForm').addEventListener('submit', async (event) => {
        event.preventDefault();

        const formElement = event.target; 
        const formData = new FormData(formElement);

        const userId = formElement.dataset.userId;
        
        try {
            const response = await fetch(`/profile/editPassword/${userId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(Object.fromEntries(formData.entries()))
            });
            
            if (response.ok){
                location.reload();
            } else {
                contentContainerPassword.innerHTML = `
                    <p class="text-danger">Passwordänderung fehlgeschlagen!</p>
                `;
            }
        } catch (e) {
          console.log("Error while changing password", e);
        }
  });
</script>